{
  "extends": "@callstack",
  "rules": {
    "flowtype/no-weak-types": 0,
    "react-native/no-raw-text": 0,
    "no-console": 1,
    "react/no-multi-comp": 0,
    // Ignore certain webpack alias because it can't be resolved
    "import/no-unresolved": [
      2,
      { "ignore": ["^@theme", "^@docusaurus", "^@generated"] }
    ],
    "react-native/no-color-literals": "off",
    "react-native/no-inline-styles": "off",
    "react-native-a11y/has-valid-accessibility-descriptors": "off",
    "react-native-a11y/has-valid-accessibility-ignores-invert-colors": 0,
    "react-native-a11y/has-valid-accessibility-value": "off"
  }
}
