:root {
  --ifm-color-primary:  #BF8A65;
  --ifm-color-primary-dark: #CD947C;
  --ifm-color-primary-darker:  #C08D54;
  --ifm-color-primary-darkest: #C07F54;
  --ifm-color-primary-light: #DAA396;
  --ifm-color-primary-lighter: #E7B9B2;
  --ifm-color-primary-lightest: #F3D3D1;
}
