.container__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem var(--ifm-spacing-horizontal);
}

.logo {
  margin-bottom: 2rem;
}

.title {
  font-size: 300%;
  margin: 0.3rem 0;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: normal;
}

.button {
  border: 1px solid var(--ifm-font-color-base);
  border-radius: 3px;
  color: var(--ifm-font-color-base);
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  color: var(--ifm-font-color-base-inverse);
  background: var(--ifm-font-color-base);
}

/*#region Features */
.features-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 1rem;
}

.feature-image {
  height: 5rem;
  margin-bottom: 1.25rem;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.feature-description {
  width: 100%;
  padding: 0 2.5rem;
  text-align: center;
}
/*#endregion*/
