name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

jobs:
  install-cache-deps:
    runs-on: ubuntu-latest
    name: Install and Cache deps
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup-deps

  lint:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Lint
        run: yarn lint

  typecheck:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Typecheck
        run: yarn typecheck

  test:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Test
        run: yarn test:ci

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4

      - name: Test in concurrent mode
        run: CONCURRENT_MODE=1 yarn test:ci

  test-concurrent:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Test in concurrent mode
        run: CONCURRENT_MODE=1 yarn test:ci

  test-website:
    runs-on: ubuntu-latest
    name: Test Website
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and website deps
        uses: ./.github/actions/setup-website-deps

      - name: Build website
        run: yarn --cwd website build
