name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

# Set minimal permissions by default
permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Lint
        run: yarn lint

      - name: Prettier
        run: yarn prettier

  typecheck:
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.83.1:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.83.1
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.2.0
          react-native-version: 0.83.1

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.83.0:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.83.0
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.2.0
          react-native-version: 0.83.0

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.82.1:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.82.1
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.1
          react-native-version: 0.82.1

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.82.0:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.82.0
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.1
          react-native-version: 0.82.0

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.81.5:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.81.5
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.0
          react-native-version: 0.81.5

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.80.2:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.80.2
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.0
          react-native-version: 0.80.2

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.79.2:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.79.2
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.0.0
          react-native-version: 0.79.2

      - name: Typecheck
        run: yarn typecheck

  typecheck-rn-0.78.3:
    runs-on: ubuntu-latest
    name: Typecheck RN 0.78.3
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.0.0
          react-native-version: 0.78.3

      - name: Typecheck
        run: yarn typecheck

  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Test
        run: yarn test:ci:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-rn-0.83.1:
    runs-on: ubuntu-latest
    name: Test RN 0.83.1
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.2.0
          react-native-version: 0.83.1

      - name: Test
        run: yarn test:ci

  test-rn-0.83.0:
    runs-on: ubuntu-latest
    name: Test RN 0.83.0
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.2.0
          react-native-version: 0.83.0

      - name: Test
        run: yarn test:ci

  test-rn-0.82.1:
    runs-on: ubuntu-latest
    name: Test RN 0.82.1
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.1
          react-native-version: 0.82.1

      - name: Test
        run: yarn test:ci

  test-rn-0.82.0:
    runs-on: ubuntu-latest
    name: Test RN 0.82.0
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.1
          react-native-version: 0.82.0

      - name: Test
        run: yarn test:ci

  test-rn-0.81.5:
    runs-on: ubuntu-latest
    name: Test RN 0.81.5
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.0
          react-native-version: 0.81.5

      - name: Test
        run: yarn test:ci

  test-rn-0.80.2:
    runs-on: ubuntu-latest
    name: Test RN 0.80.2
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.1.0
          react-native-version: 0.80.2

      - name: Test
        run: yarn test:ci

  test-rn-0.79.2:
    runs-on: ubuntu-latest
    name: Test RN 0.79.2
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.0.0
          react-native-version: 0.79.2

      - name: Test
        run: yarn test:ci

  test-rn-0.78.3:
    runs-on: ubuntu-latest
    name: Test RN 0.78.3
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps
        with:
          react-version: 19.0.0
          react-native-version: 0.78.3

      - name: Test
        run: yarn test:ci
