name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  install-cache-deps:
    runs-on: ubuntu-latest
    name: Install and Cache deps
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup-deps

  lint:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Lint
        run: yarn lint

  typecheck:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Typecheck
        run: yarn typecheck

  test:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Test (concurrent)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Test
        run: yarn test:ci:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-18:
    needs: [install-cache-deps]
    runs-on: ubuntu-latest
    name: Test React 18
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and deps
        uses: ./.github/actions/setup-deps

      - name: Switch to React 18
        run:
          yarn add react@18.3.1 react-test-renderer@18.3.1 react-native@0.77.0 @react-native/babel-preset@0.77.0

      - name: Test
        run: yarn test:ci
